.cat {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 36px;
  display: flex;
  justify-content: space-between;

  gap: 16px;

  @media screen and (max-width: 1024px) {
    & {
      padding: 16px 8px;
    }
  }

  @media screen and (max-width: 550px) {
    & {
      flex-wrap: wrap;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    gap: 8px;
    overflow: auto;

    @media screen and (max-width: 1024px) {
      & {
        gap: 6px;
      }
    }
  }

  &__item {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 48px;
    box-sizing: border-box;
    padding: 14px;
    background: #f9f9f9;
    border-radius: 30px;

    font-weight: 600;
    font-size: 15px;
    line-height: 16px;

    color: #2c2c2c;

    @media screen and (max-width: 1024px) {
      & {
        font-size: 12px;
        line-height: 14px;
      }
    }

    @media screen and (max-width: 550px) {
      & {
        font-size: 10px;
        line-height: 12px;
        height: 35px;
      }
    }
  }
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;

  position: relative;

  @media screen and (max-width: 1024px) {
    & {
      gap: 4px;
    }
  }

  &__directionButton {
    padding: 0;
    border: none;
    width: 10px;
    height: 6px;
    background-image: url(../../images/sortArrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #2c2c2c;

    @media screen and (max-width: 1024px) {
      & {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  &__optionButton {
    padding: 0;
    border: none;
    border-bottom: 1px solid #fe5f1e;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;

    color: #fe5f1e;

    @media screen and (max-width: 1024px) {
      & {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  &__optionContainer {
    // display: none;

    position: absolute;
    right: 0;
    top: 100%;

    box-sizing: border-box;
    padding: 8px;

    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
  }

  &__optionList {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 8px;

    overflow: auto;
  }

  &__optionItem {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
  }
}

// .header {
//   width: 100%;
//   box-sizing: border-box;
//   padding: 24px 36px;
//   display: flex;
//   justify-content: space-between;
//   border-bottom: 1px solid #f7f7f7;

//   @media screen and (max-width: 769px) {
//     & {
//       padding: 16px 8px;
//     }
//   }

//   &__logoContainer {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     gap: 16px;

//     @media screen and (max-width: 769px) {
//       & {
//         gap: 8px;
//       }
//     }
//   }

//   &__logo {
//     display: block;
//     width: 42px;
//     height: 42px;

//     @media screen and (max-width: 769px) {
//       & {
//         width: 28px;
//         height: 28px;
//       }
//     }
//   }

//   &__titleContainer {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }

//   &__title {
//     margin: 0;
//     text-transform: uppercase;

//     font-weight: 800;
//     font-size: 24px;
//     line-height: 29px;
//     letter-spacing: 0.01em;

//     color: #181818;

//     @media screen and (max-width: 769px) {
//       & {
//         font-size: 18px;
//         line-height: 20px;
//       }
//     }
//   }

//   &__subtitle {
//     margin: 0;

//     font-weight: 400;
//     font-size: 16px;
//     line-height: 19px;

//     color: #7b7b7b;

//     @media screen and (max-width: 769px) {
//       & {
//         font-size: 12px;
//         line-height: 14px;
//       }
//     }
//   }
// }

// .cartButton {
//   border: none;
//   width: 150px;
//   height: 50px;
//   background: #fe5f1e;
//   border-radius: 30px;
//   box-sizing: border-box;
//   padding: 20px 12px;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   @media screen and (max-width: 769px) {
//     & {
//       width: 104px;
//       height: 36px;
//       padding: 16px 8px;
//     }
//   }

//   &__sum {
//     min-width: 42px;
//     display: block;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 19px;

//     color: #ffffff;

//     box-sizing: border-box;
//     padding-right: 12px;

//     @media screen and (max-width: 769px) {
//       & {
//         font-size: 12px;
//         line-height: 14px;
//         padding-right: 6px;
//       }
//     }
//   }

//   &__line {
//     min-height: 25px;
//     border-right: 1px solid rgba(255, 255, 255, 0.25);

//     @media screen and (max-width: 769px) {
//       & {
//         min-height: 16px;
//       }
//     }
//   }

//   &__qtyContainer {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 10px;
//     box-sizing: border-box;
//     padding-left: 12px;
//     min-width: 42px;

//     @media screen and (max-width: 769px) {
//       & {
//         padding-left: 6px;
//       }
//     }
//   }

//   &__cartIcon {
//     width: 16px;
//     height: 16px;
//     background-image: url(../../images/cartIcon.svg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: contain;

//     @media screen and (max-width: 769px) {
//       & {
//         width: 13px;
//         height: 13px;
//       }
//     }
//   }

//   &__totalQty {
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 19px;

//     color: #ffffff;

//     @media screen and (max-width: 769px) {
//       & {
//         font-size: 12px;
//         line-height: 14px;
//       }
//     }
//   }
// }
