@import '../../variables.scss';

.cart {
  width: 100%;
  box-sizing: border-box;
  padding: 24px 36px;
  @include flex(column, space-between);
  gap: 20px;

  @media screen and (max-width: 769px) {
    & {
      padding: 8px;
    }
  }

  &__header {
    width: 65%;
    @include flex(row, space-between);

    @media screen and (max-width: 1024px) {
      & {
        width: 100%;
        padding: 0 36px;
      }
    }

    @media screen and (max-width: 769px) {
      & {
        padding: 0 8px;
      }
    }
  }

  &__headerlogoContainer {
    @include flex;
    gap: 12px;

    @media screen and (max-width: 769px) {
      & {
        gap: 6px;
      }
    }
  }

  &__logo {
    width: 32px;
    height: 32px;

    background-image: url(../../images/cartIconBlack.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 769px) {
      & {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    @media screen and (max-width: 769px) {
      & {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__clearButton {
    border: none;
    background-color: transparent;
    padding: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #b6b6b6;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    @media screen and (max-width: 769px) {
      & {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  &__footer {
    width: 65%;
    @include flex(column, space-between);
    gap: 30px;

    @media screen and (max-width: 1024px) {
      & {
        width: 100%;
        padding: 0 36px;
      }
    }

    @media screen and (max-width: 769px) {
      & {
        padding: 0 8px;
      }
    }
  }

  &__totalContainer {
    width: 100%;
    @include flex(row, space-between);
  }

  &__totalQty {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    @media screen and (max-width: 769px) {
      & {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &__totalSum {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    @media screen and (max-width: 769px) {
      & {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &__buttonContainer {
    width: 100%;
    @include flex(row, space-between);
  }

  &__backButton {
    @include flex();
    width: 210px;
    height: 55px;
    border-radius: 30px;
    border: 1px solid #d3d3d3;
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
    color: #d3d3d3;

    @media screen and (max-width: 769px) {
      & {
        width: 140px;
        height: 40px;
        font-size: 12px;
        line-height: 14px;
      }
    }

    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: scale 0.15s ease-in-out;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__checkoutButton {
    @include flex();
    border: none;
    width: 210px;
    height: 55px;
    border-radius: 30px;
    background-color: $actionColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    @media screen and (max-width: 769px) {
      & {
        width: 140px;
        height: 40px;
        font-size: 12px;
        line-height: 14px;
      }
    }

    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: scale 0.15s ease-in-out;
    }

    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      opacity: 0.5;
    }

    &:disabled:active {
      transform: none;
    }
  }
}

.cartItemsContainer {
  width: 65%;
  @include flex(column, space-between);

  @media screen and (max-width: 1024px) {
    & {
      width: 100%;
      padding: 0 36px;
    }
  }

  @media screen and (max-width: 769px) {
    & {
      padding: 0 8px;
    }
  }
}
