//Colors

$actionColor: #fe1e1e;
$liteBackgroundColor: #fbeedb;
$blackLite: #2c2c2c;

//Mixins

@mixin flex($dir: row, $jc: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: center;
}
