@import '../../variables.scss';

.sort__optionContainer {
  position: absolute;
  right: 0;
  top: 100%;

  box-sizing: border-box;
  padding: 8px;

  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.sort__optionList {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 8px;

  overflow: visible;
}

.sort__optionItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  box-sizing: border-box;
  padding: 2px;
  border-radius: 5px;

  color: #000000;

  &_active {
    background-color: $actionColor;
    color: aliceblue;
  }

  &:hover {
    cursor: pointer;
    scale: 1.06;
    transition: scale 0.15s ease-in-out;
  }

  &:active {
    transform: scale(0.9);
  }
}
