.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &__404 {
    margin-top: 24px;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.8rem;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &__button {
    padding: 0;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: aliceblue;

    background-color: #fe5f1e;
    box-sizing: border-box;
    padding: 12px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }
}
